# Environment Configuration
NODE_ENV="development" # Options: 'development', 'production'
PORT="3001"

# CORS Settings
CORS_ORIGIN="*" # Allowed CORS origin, adjust as necessary

# Rate Limiting
COMMON_RATE_LIMIT_WINDOW_MS="1000" # Window size for rate limiting (ms)
COMMON_RATE_LIMIT_MAX_REQUESTS="20" # Max number of requests per window per IP

# Optional endpoint to fetch the tokenlists expects `?chainId` query param
TOKENLIST_URL="https://indexer-8n2y-dev.up.railway.app/v1/tokens?chainId=999"

# RPCs
# mainnet
RPC_URL_1=""  
# sepolia
RPC_URL_11155111=""
# base
RPC_URL_8453=""
# bsc
RPC_URL_56=""
# arbitrum
RPC_URL_42161=""
# berachain
RPC_URL_80094=""
# foundry
RPC_URL_31337=""
# sonic
RPC_URL_146=""
# bera
RPC_URL_80094=""
# unichain
RPC_URL_130=""
# bob
RPC_URL_60808=""
# avalanche
RPC_URL_43114=""
# tac
RPC_URL_239=""
# linea
RPC_URL_59144=""
# plasma
RPC_URL_9745=""

RPC_URL_999="https://hyperliquid-mainnet.g.alchemy.com/v2/_c5iUtzl1W-7W1P7fFe_b"

# Provider API keys
LIFI_API_KEY=""
ONEINCH_API_KEY=""
PENDLE_API_KEY=""
OPENOCEAN_API_KEY=""
OKX_API_KEY=""
OKX_PASSPHRASE=""
OKX_SECRET_KEY=""
ODOS_API_KEY=""
ODOS_REFERRAL_CODE=""
OOGABOOGA_API_KEY=""
OX_API_KEY=""
MAGPIE_API_KEY=""
ENSO_API_KEY=""